body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    
}

.particles
{
    z-index: -1;
    position: relative;
}

.inner-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    left:  40vw; 
    right: 40vw; 
    bottom: 26vh;
    background-color: #1C2225;
    padding-top: 40px;
    padding-left:45px ;
    padding-bottom: 20px;
    width: 15vw;
    height: 50vh;
    position: fixed;
    z-index: 1;
     
     
}

.inner-box:hover{
    
    box-shadow: 5px 3px 15px #3A424A ;
}

h3{
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    color: white;
} 

@media only screen and (max-width: 700px)
{
    .inner-box
    {
        width: 200px;
        left: 30vw;
    }
}

@media only screen and (max-width: 600px)
{
    .inner-box
    {
        width: 200px;
        left: 30vw;
    }
}


@media only screen and (max-width: 400px)
{
    .inner-box
    {
        width: 200px;
        top: 10vh;
        left: 15vw;
    }
}